@font-face {
    font-family: 'IBM_Plex_Sans';
    src: url("/font/IBMPlexSansKR-Regular.ttf") format('truetype');
}

.body {
    font-family: 'IBM_Plex_Sans', sans-serif; /* 폰트 적용 */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    z-index: 0;
    padding-bottom: 120px;
    margin-top: 60px;
}

@media (min-width: 601px) {
    .container {
        margin-top: 0px;
    }
}