.PopupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 999;
}

.PopupContainer button {
    background-color: #319795;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.PopupContent {
    display: flex;
    flex-direction: column;
}

.CheckboxContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.Checkbox {
    margin-right: 5px;
}